services:
  db:
    image: postgres:latest
    container_name: postgres_db
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_HOST: ${DB_HOST}
    ports:
      - "${DB_PORT}:5432"

  ngrok:
    image: ngrok/ngrok:latest
    container_name: ngrok_tunnel
    environment:
      NGROK_AUTHTOKEN: ${NGROK_TOKEN}
    command:
      - "tcp"
      - "db:5432"
    depends_on:
      - db